// body layout
.view-design {
	display: flex;
	overflow: hidden;

	canvas.glyph-editor {
		position: relative;
		z-index: 2;
	}

	.ux-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 3;
		overflow: hidden;
		pointer-events: none;

		.ux-layer {
			position: absolute;
			border: 1px solid rgba(#333,.15);
			// background-image: conic-gradient(#eee 0% 25%, #fff 25% 50%, #eee 50% 75%, #fff 75% 100%);
			// background-size: 20px 20px;

			.anchor {
				background: rgba(#3a3,.25);
				position: absolute;
				margin: -8px 0 0 -8px;
				width: 17px;
				height: 17px;
				border-radius: 50%;
				cursor: crosshair;
				pointer-events: all;
			}
		}

		.ux-lasso {
			position: absolute;
			top: -999px;
			left: -999px;
			border: 1px solid #a3cbff;
		}
	}

	.zoom-tools {
		position: absolute;
		bottom: 9px;
		right: 11px;
		font-size: 0;
		z-index: 5;

		span {
			// background: rgba(#000,.1);
			position: relative;
			display: inline-block;
			height: 19px;
			padding-top: 3px;
			border-radius: 2px;
			vertical-align: text-top;

			&.zoom-value {
				width: 53px;
				font-size: 13px;
				text-align: center;
				color: #999;
			}

			&[data-click] {
				width: 19px;
				cursor: pointer;
				opacity: .35;

				&[data-click="zoom-fit"] {
					margin-left: 11px;
				}

				&:hover {
					opacity: .65;
				}
			}

			[class*="icon-"],
			[class^="icon-"] {
				position: absolute;
				top: 1px;
				left: 1px;
				width: 17px;
				height: 17px;
				display: inline-block;
				background-position: 50% 50%;
				background-repeat: no-repeat;
				background-size: contain;

				&.icon-minus { background-image: url(~/icons/icon-minus.png); }
				&.icon-plus  { background-image: url(~/icons/icon-plus.png); }
				&.icon-fit   { background-image: url(~/icons/icon-fit.png); }
			}
		}
	}
}
