// body layout
.view-design {
	display: flex;
	overflow: hidden;

	canvas.glyph-editor {
		
	}

	.zoom-tools {
		position: absolute;
		bottom: 9px;
		right: 11px;
		font-size: 0;

		span {
			// background: rgba(#000,.1);
			position: relative;
			display: inline-block;
			height: 19px;
			padding-top: 2px;
			border-radius: 2px;
			vertical-align: text-top;

			&.zoom-value {
				width: 56px;
				font-size: 14px;
				text-align: center;
				color: #888;
			}

			&[data-click] {
				width: 19px;
				cursor: pointer;
				opacity: .35;

				&[data-click="zoom-fit"] {
					margin-left: 11px;
				}

				&:hover {
					opacity: .65;
				}
			}

			[class*="icon-"],
			[class^="icon-"] {
				position: absolute;
				top: 1px;
				left: 1px;
				width: 17px;
				height: 17px;
				display: inline-block;
				background-position: 50% 50%;
				background-repeat: no-repeat;
				background-size: contain;

				&.icon-minus { background-image: url(~/icons/icon-minus.png) }
				&.icon-plus  { background-image: url(~/icons/icon-plus.png) }
				&.icon-fit   { background-image: url(~/icons/icon-fit.png) }
			}
		}
	}
}
