<div class="view-design" data-area="design">
	<canvas class="glyph-editor"></canvas>
	<div class="ux-wrapper">
		<div class="ux-layer"></div>
		<div class="ux-lasso"></div>
	</div>
	<div class="zoom-tools">
		<span data-click="zoom-minus"><i class="icon-minus"></i></span>
		<span class="zoom-value">30%</span>
		<span data-click="zoom-plus"><i class="icon-plus"></i></span>
		<span data-click="zoom-fit"><i class="icon-fit"></i></span>

		<div class="inline-menubox arrow-below">
			<div class="inline-content">
				<div class="knob" data-value="37"></div>
			</div>
		</div>
	</div>
</div>
