<div class="view-design" data-area="design">
	<canvas class="glyph-editor"></canvas>
	<div class="ux-wrapper">
		<div class="ux-layer"></div>
		<div class="ux-lasso"></div>

		<div class="handle-box">
			<span class="handle rot"></span>
			<span class="handle n"></span>
			<span class="handle nw"></span>
			<span class="handle w"></span>
			<span class="handle sw"></span>
			<span class="handle s"></span>
			<span class="handle se"></span>
			<span class="handle e"></span>
			<span class="handle ne"></span>
		</div>
	</div>
	<div class="zoom-tools">
		<span data-click="zoom-minus"><i class="icon-minus"></i></span>
		<span class="zoom-value">100%</span>
		<span data-click="zoom-plus"><i class="icon-plus"></i></span>
		<span data-click="zoom-fit"><i class="icon-fit"></i></span>

		<div class="inline-menubox arrow-below">
			<div class="inline-content">
				<div class="pan-knob" data-value="0"></div>
			</div>
		</div>
	</div>
</div>
