<div class="view-overview" data-area="overview">
	<div class="left-side" data-click="select-tree-item">
		<!-- left side tree goes here -->
	</div>
	<div>
		<div class="area-body">
			<!-- glyph list goes here -->
		</div>
		<div class="foot" data-area="foot">
			<div class="status">
				<span class="count">&#160;</span> glyphs
			</div>
			<div class="resize">
				<input type="range" class="glyph-resizer" value="75" min="60" max="120" data-change="set-glyph-size"/>
			</div>
		</div>
	</div>
</div>
