
<div class="design-sidebar">
	<div class="sidebar-head" data-click="select-tab">
		<span class="active">Glyph</span>
		<span>Guides</span>
		<span>History</span>
	</div>

	<!-- Glyph body -->
	<div class="sidebar-body active">
		<div class="group-row">
			<div>
				<legend class="bold">Layers</legend>
				<div class="layer-rows" data-click="select-layer">
					<div class="row">
						<span data-click="toggle-visibility">
							<i class="icon-eye-off c15x15"></i>
						</span>
						<span>
							<svg viewBox="0 0 19 19">
								<path d="M4,6 L2,13 L12,18 L16,2 Z"/>
							</svg>
						</span>
						<span>Path 3</span>
						<span data-click="delete-layer">
							<i class="icon-trashcan"></i>
						</span>
					</div>
					<div class="row selected">
						<span data-click="toggle-visibility">
							<i class="icon-eye-on c15x15"></i>
						</span>
						<span>
							<svg viewBox="0 0 19 19">
								<circle cx="10" cy="10" r="7"/>
							</svg>
						</span>
						<span>Path 2</span>
						<span data-click="delete-layer">
							<i class="icon-trashcan"></i>
						</span>
					</div>
					<div class="row">
						<span data-click="toggle-visibility">
							<i class="icon-eye-on c15x15"></i>
						</span>
						<span>
							<svg viewBox="0 0 19 19">
								<rect x="3" y="1" width="9" height="9"/>
								<circle cx="11" cy="11" r="4"/>
							</svg>
						</span>
						<span>Path 1</span>
						<span data-click="delete-layer">
							<i class="icon-trashcan"></i>
						</span>
					</div>
				</div>
			</div>

			<div class="flex-row arrange">
				<div class="w48">
					<div class="option-buttons_ has-title_">
						<span class="disabled" data-name="z-back" title="Back">
							<span class="icon-arrange-back c13x19"></span>
						</span>
						<span class="disabled" data-name="z-front" title="Front">
							<span class="icon-arrange-front c13x19"></span>
						</span>
					</div>
				</div>

				<div class="w48">
					<div class="option-buttons_ has-title_">
						<span class="disabled" data-name="z-backward" title="Backward">
							<span class="icon-arrange-backward c13x19"></span>
						</span>
						<span class="disabled" data-name="z-forward" title="Forward">
							<span class="icon-arrange-forward c13x19"></span>
						</span>
					</div>
				</div>
			</div>
		</div>

		<div class="group-row">
			<div class="flex-row">
				<legend>Background</legend>
				<div>
					<div class="color-preset_" data-click="popup-color-ring" style="--preset-color: #99999977;"></div>
				</div>
			</div>

			<div class="flex-row">
				<legend>Outline</legend>
				<div>
					<div class="color-preset_" data-click="popup-color-ring" style="--preset-color: #33333377;"></div>
				</div>
			</div>
		</div>

		<div class="group-row">
			<div class="flex-row">
				<legend class="bold">Advance Width</legend>
				<div>
					<input type="number" min="7" max="1e5" name="table-rows-num" value="1608"/>
					<div>
						<span></span>
						<span></span>
					</div>
				</div>
			</div>
			<div class="flex-row">
				<legend class="bold">Bearings</legend>
				<div class="indent has-title" title="Left">
					<input type="number" min="0" max="1e5" step="1" name="left" value="0"/>
					<div>
						<span></span>
						<span></span>
					</div>
				</div>
				<div class="has-title" title="Right">
					<input type="number" min="0" max="1e5" step="1" name="right" value="62"/>
					<div>
						<span></span>
						<span></span>
					</div>
				</div>
			</div>
		</div>

		<div class="group-row">
			<div class="flex-row">
				<legend class="bold">Overall Paths</legend>
				<div class="indent has-title" title="X">
					<input type="number" min="0" max="1e5" step="1" name="x" value="0"/>
					<div>
						<span></span>
						<span></span>
					</div>
				</div>
				<div class="has-title" title="Y">
					<input type="number" min="0" max="1e5" step="1" name="y" value="1495"/>
					<div>
						<span></span>
						<span></span>
					</div>
				</div>
			</div>
			<div class="flex-row">
				<legend class="bold"></legend>
				<div class="indent has-title" title="Width">
					<input type="number" min="0" max="1e5" step="1" name="width" value="1546"/>
					<div>
						<span></span>
						<span></span>
					</div>
				</div>
				<div class="has-title" title="Height">
					<input type="number" min="0" max="1e5" step="1" name="height" value="1511"/>
					<div>
						<span></span>
						<span></span>
					</div>
				</div>
			</div>
		</div>

		<div class="group-row">
			<div class="flex-row anchor-type">
				<legend class="bold">Anchor Type</legend>
				<div class="w48">
					<div class="option-buttons_ has-title_">
						<span class="active_" data-name="symmetric" title="Symmetric">
							<span class="icon-anchor-sym c13x19"></span>
						</span>
						<span data-name="flat" title="Flat">
							<span class="icon-anchor-flat c13x19"></span>
						</span>
						<span data-name="corner" title="Corner">
							<span class="icon-anchor-corner c13x19"></span>
						</span>
					</div>
				</div>
			</div>
		</div>

		<div class="group-row transformation">
			<div>
				<legend class="bold">Transformations</legend>
				<div>
					<i class="icon-align-top"></i>
					<i class="icon-align-bottom"></i>
					<i class="icon-align-middle"></i>
					<i class="icon-vertical-centers"></i>
					<i class="icon-horizontal-centers"></i>
				</div>
				<div>
					<i class="icon-align-left"></i>
					<i class="icon-align-center"></i>
					<i class="icon-align-right"></i>
				</div>

				<div>
					<i class="icon-path-union"></i>
					<i class="icon-path-subtract"></i>
					<i class="icon-path-intersect"></i>
				</div>
			</div>
		</div>
	</div>

	<!-- Guides body -->
	<div class="sidebar-body">
		<div class="group-row">
			<div class="flex-row">
				<legend class="bold">Layers</legend>
			</div>
			
		</div>
	</div>

	<!-- History body -->
	<div class="sidebar-body">
		<div class="group-row">
			History
		</div>
	</div>
</div>
