<content>
	<div class="main">
		<div class="head" data-area="head">
			<div class="head-reel" data-click="select-view">
				<span data-view="overview" class="active">Overview</span>
				<span data-view="design">Design</span>
				<span data-view="kerning">Kerning</span>
				<span data-view="preview">Preview</span>
			</div>
		</div>
		<div class="body" data-show="overview">
			@import "sections/overview.htm"
			@import "sections/design.htm"
			@import "sections/kerning.htm"
			@import "sections/preview.htm"
		</div>
	</div>
	<div class="sidebar" data-area="sidebar">
		<div class="sidebar-head" data-click="select-tab">
			<span class="active">Glyph</span>
			<span>Guides</span>
			<span>History</span>
		</div>

		@import "sections/sidebar-glyph.htm"
		@import "sections/sidebar-guides.htm"
		@import "sections/sidebar-history.htm"
	</div>
</content>
