<content>
	<div class="main">
		<div class="head" data-area="head">
			<div class="head-reel" data-click="select-view">
				<span data-view="overview" class="active">Overview</span>
				<span data-view="design">Design</span>
				<span data-view="kerning">Kerning</span>
				<span data-view="preview">Preview</span>
			</div>
		</div>
		<div class="body" data-show="overview">
			@import "sections/overview.htm"
			@import "sections/design.htm"
			@import "sections/kerning.htm"
			@import "sections/preview.htm"
		</div>
	</div>
	<div class="sidebar">
		<div class="sidebar-head">
			<span class="active">Glyph</span>
			<span>Guides</span>
			<span>History</span>
		</div>

		<!-- Glyph body -->
		<div class="sidebar-body active">
			<div class="group-row">
				<div class="flex-row">
					<legend class="bold">Rows</legend>
					<div>
						<input type="number" min="7" max="999" name="table-rows-num"/>
						<div>
							<span></span>
							<span></span>
						</div>
					</div>
				</div>
				<div class="flex-row">
					<legend class="bold">Columns</legend>
					<div>
						<input type="number" min="5" max="999" name="table-cols-num"/>
						<div>
							<span></span>
							<span></span>
						</div>
					</div>
				</div>
			</div>

			<i class="icon-align-top"></i>
			<i class="icon-align-middle"></i>
			<i class="icon-align-bottom"></i>
			<i class="icon-vertical-centers"></i>
			<i class="icon-align-left"></i>
			<i class="icon-align-center"></i>
			<i class="icon-align-right"></i>
			<i class="icon-horizontal-centers"></i>

		</div>

		<!-- Guides body -->
		<div class="sidebar-body">
			
		</div>

		<!-- History body -->
		<div class="sidebar-body">

		</div>
	</div>
</content>
