<content>
	<!-- shown if no file is opened -->
	<div class="blank-view" data-area="blankView">
		<!-- blank view HTML goes here -->
	</div>
	
	<div class="main" data-show="overview">
		<div class="head" data-area="head">
			<div class="head-reel" data-click="select-view">
				<span data-view="overview" class="active">Overview</span>
				<span data-view="design">Design</span>
				<span data-view="kerning">Kerning</span>
				<span data-view="preview">Preview</span>
			</div>
		</div>
		<div class="body">
			@import "sections/overview.htm"
			@import "sections/design.htm"
			@import "sections/kerning.htm"
			@import "sections/preview.htm"
		</div>
	</div>
	<div class="sidebar" data-area="sidebar">
		<div class="wrapper">
			@import "sections/sidebar-design.htm"
			@import "sections/sidebar-kerning.htm"
			@import "sections/sidebar-preview.htm"
		</div>
	</div>
</content>
