
.inline-menubox {
	background: rgba(#444,.1);
	position: absolute;
	opacity: 0;
	padding: 1px;
	z-index: 101;
	border-radius: 7px;
	filter: drop-shadow(0 3px 5px rgba(#000,.35));
	transform-origin: 50% 0;
	
	&.pop-show {
		animation: tiny-pop 120ms linear forwards;
	}

	&.pop-hide {
		animation: tiny-pop-hide 120ms linear forwards;
	}

	&.arrow-below {
		.inline-content {
			padding-bottom: 5px;
		}

		&:before {
			top: auto;
			bottom: -10px;
			border-bottom: 0;
			border-top: 11px solid rgba(#000,.1);
		}

		&:after {
			top: auto;
			bottom: -9px;
			border-bottom: 0;
			border-top: 10px solid #e5e5e5;
		}
	}

	&:before {
		content: "";
		position: absolute;
		top: -10px;
		left: 50%;
		width: 0;
		height: 0;
		margin-left: -10px;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 11px solid rgba(#000,.45);
	}

	&:after {
		content: "";
		position: absolute;
		top: -9px;
		left: 50%;
		width: 0;
		height: 0;
		margin-left: -9px;
		border-left: 9px solid transparent;
		border-right: 9px solid transparent;
		border-bottom: 10px solid #677;
	}

	.inline-content {
		background: linear-gradient(#f7f7f7 0%, #e5e5e5 100%);
		position: relative;
		padding: 7px 3px 6px;
		border-radius: inherit;
		z-index: 2;
	}
}


@keyframes tiny-pop {
	0%   { transform: scale(.25); opacity: 0; }
	91%  { transform: scale(1.1); opacity: 1; }
	100% { transform: scale(1); opacity: 1; }
}

@keyframes tiny-pop-hide {
	0%   { transform: scale(1); opacity: 1; }
	100% { transform: scale(.25); opacity: 0; }
}
