
// for dark theme
@import "theme-dark";
@import "blank-view";
@import "sections/popup";


@sidebar_bg: #ececec;
@layout_outline: #bbb;
@outline_color: #bbb;


overflow: visible;


&.win-body-focused_ {
	.sidebar {
		border-left-color: @layout_outline;

		.sidebar-head {
			border-bottom-color: @layout_outline;

			span {
				&:not(:first-child) {
					border-left-color: @layout_outline;
				}

				&.active {
					background: #489bf7;
					color: #fff;

					&:after {
						display: block;
					}
				}
			}
		}
	}
}


content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	border-radius: inherit;
	--toolLine: #86b8f0;

	&.show-blank-view {
		.main,
		.sidebar {
			display: none;
		}

		.blank-view {
			display: block;
		}
	}

	&.cover {
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 998;
			background: transparent;
		}

		&.hide-cursor {
			cursor: none;
		}
	}

	&.show-sidebar {
		.sidebar {
			width: 250px;
		}
	}

	.main {
		display: flex;
		flex-direction: column;
		flex: 1;

		.head {
			background: #f0f0f0;
			height: 29px;
			border-bottom: 1px solid rgba(#000,.15);
			color: #777;

			.head-reel {
				display: flex;
				height: 100%;

				span {
					position: relative;
					padding: 8px 0 0;
					width: 114px;
					text-align: center;
					user-select: none;
					cursor: pointer;

					&.active {
						background: #d6e6fb;
						color: #4591e8;
						// background: #489bf7;
						// color: #fff;
						cursor: default;

						+ span:before {
							display: none;
						}
					}

					&:not(.active):before {
						content: "";
						position: absolute;
						top: 5px;
						bottom: 4px;
						left: 0;
						width: 1px;
						background: rgba(#000,0.15);
					}
				}
			}
		}

		.body {
			flex: 1;
			display: flex;
			overflow: hidden;

			> div {
				width: 0;
				opacity: 0;
				visibility: hidden;
				pointer-events: none;
				position: relative;
			}

			@import "sections/design";
			@import "sections/kerning";
			@import "sections/overview";
			@import "sections/preview";
		}


		&[data-show="overview"] {
			.body .view-overview {
				flex: 1;
				opacity: 1;
				visibility: visible;
				pointer-events: initial;
			}
		}

		&[data-show="design"] {
			.body .view-design {
				flex: 1;
				opacity: 1;
				visibility: visible;
				pointer-events: initial;
			}

			+ .sidebar .wrapper .design-sidebar {
				display: flex;
				flex-direction: column;
			}
		}

		&[data-show="kerning"] {
			.body .view-kerning {
				flex: 1;
				opacity: 1;
				visibility: visible;
				pointer-events: initial;
			}

			+ .sidebar .wrapper .kerning-sidebar {
				display: flex;
				flex-direction: column;
			}
		}

		&[data-show="preview"] {
			.body .view-preview {
				flex: 1;
				opacity: 1;
				visibility: visible;
				pointer-events: initial;
			}

			+ .sidebar .wrapper .preview-sidebar {
				display: flex;
				flex-direction: column;
			}
		}
	}

	.sidebar {
		position: relative;
		width: 0;
		overflow: hidden;
		border-radius: inherit;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		// transition: width 150ms ease-in-out;

		&:after {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			width: 0;
			border-left: 1px solid lighten(@layout_outline, 9%);
		}
		
		.wrapper {
			position: relative;
			height: 100%;
			width: 250px;
			background: var( --sidebar-bg );

			.design-sidebar,
			.kerning-sidebar,
			.preview-sidebar {
				display: none;
				height: 100%;
			}
		}

		[class*="icon-"],
		[class^="icon-"] {
			position: relative;
			width: 17px;
			height: 17px;
			display: inline-block;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: contain;
			opacity: .75;

			&.c15x15 {
				width: 15px;
				height: 15px;
				margin: 0;
			}

			&.c13x19 {
				width: 19px;
				height: 13px;
				margin: 1px 0 0;
				background-size: 19px auto;
			}

			&.icon-align-top          { background-image: url(~/icons/icon-align-top.png); }
			&.icon-align-middle       { background-image: url(~/icons/icon-align-middle.png); }
			&.icon-align-bottom       { background-image: url(~/icons/icon-align-bottom.png); }
			&.icon-vertical-centers   { background-image: url(~/icons/icon-vertical-centers.png); }
			&.icon-align-left         { background-image: url(~/icons/icon-align-left.png); }
			&.icon-align-center       { background-image: url(~/icons/icon-align-center.png); }
			&.icon-align-right        { background-image: url(~/icons/icon-align-right.png); }
			&.icon-horizontal-centers { background-image: url(~/icons/icon-horizontal-centers.png); }

			&.icon-eye-on   { background-image: url(~/icons/icon-eye-on.png); }
			&.icon-eye-off  { background-image: url(~/icons/icon-eye-off.png); }
			&.icon-trashcan { background-image: url(~/icons/icon-trashcan.png); }

			&.icon-path-union     { background-image: url(~/icons/icon-path-union.png); }
			&.icon-path-subtract  { background-image: url(~/icons/icon-path-subtract.png); }
			&.icon-path-intersect { background-image: url(~/icons/icon-path-intersect.png); }

			&.icon-arrange-back     { background-image: url(~/icons/icon-arrange-back.png); }
			&.icon-arrange-front    { background-image: url(~/icons/icon-arrange-front.png); }
			&.icon-arrange-backward { background-image: url(~/icons/icon-arrange-backward.png); }
			&.icon-arrange-forward  { background-image: url(~/icons/icon-arrange-forward.png); }

			&.icon-anchor-sym    { background-image: url(~/icons/icon-anchor-sym.png); }
			&.icon-anchor-flat   { background-image: url(~/icons/icon-anchor-flat.png); }
			&.icon-anchor-corner { background-image: url(~/icons/icon-anchor-corner.png); }
		}

		.sidebar-head {
			height: 29px;
			border-bottom: 1px solid rgba(#000,.2);
			display: flex;
			background: #ececec;
			color: #888;

			span {
				flex: 1;
				padding-top: 9px;
				font-weight: 400;
				text-align: center;
				user-select: none;

				&:not(:first-child) {
					border-left: 1px solid rgba(#000,.2);
				}

				&.active {
					position: relative;
					z-index: 2;
					background: #ddd;
					color: #333;
					
					&:after {
						display: none;
						content: "";
						position: absolute;
						top: 0;
						left: -1px;
						right: -1px;
						bottom: -1px;
						border: 1px solid darken(#489bf7, 7%);
						border-top: 0;
					}

					&:first-child:after {
						left: 0;
					}

					&:last-child:after {
						border-right: 0;
					}
				}
			}
		}

		.sidebar-body {
			flex: 1;
			position: relative;
			overflow: auto;
			font-size: 12px;
			display: none;

			&.active {
				display: block;
			}

			.form-radio_,
			.form-checkbox_ {
				margin: 0 2px 7px 0;
			}

			legend {
				&.bold {
					font-weight: 500;
					margin-bottom: 3px;
				}
			}

			button {
				width: calc(100% - 11px);
				margin-left: 11px;
			}

			.group-row {
				position: relative;
				padding: 13px 11px 7px;
				margin-bottom: 1px;

				&:not(:last-child):after {
					content: "";
					position: absolute;
					left: 17px;
					right: 17px;
					bottom: 0px;
					height: 1px;
					background: fadeout(@outline_color, 47%);
				}

				&.transformation {
					[class*="icon-"],
					[class^="icon-"] {
						margin: 5px;
						opacity: .5;
					}
				}
				
				.flex-row {
					display: flex;
					min-height: 32px;
					justify-content: space-between;

					> legend {
						flex: auto;
						margin: 0;
						padding-top: 5px;
					}

					> div {
						width: 30%;

						&.w17 { width: 17%; }
						&.w23 { width: 23%; }
						&.w27 { width: 27%; }
						&.w30 { width: 33%; }
						&.w37 { width: 37%; }
						&.w30 + .w63 { padding-top: 0; }
						&.w48 { width: 48%; }
						&.w60 { width: 60%; }
						&.w63 { width: 63%; }
						&.w65 { width: 65%; }
						&.w73 { width: 73%; }

						&.indent {
							position: relative;
							left: -11px;
						}

						&.w63 {
							.form-checkbox_ {
								margin-top: 3px;

								& + label { top: 0; }
							}

							&.indent { left: -4px; }
						}

						&.has-title {
							position: relative;
							margin-bottom: 23px;

							&:before {
								content: attr(title);
								position: absolute;
								top: 100%;
								left: 0;
								right: 16px;
								text-align: center;
								margin-top: 3px;
								font-size: 11px;
							}
						}
					}
				}

				.layer-rows {
					margin-bottom: 13px;

					.row {
						display: flex;
						height: 25px;
						padding: 2px 2px 2px 5px;
						margin-bottom: 2px;
						border-radius: 2px;
						background: rgba(#000,.05);

						&.selected {
							box-shadow: inset 0 0 0 1px rgba(#222,.1),
										inset 4px 0 0 rgba(#000,.15);
						}

						&:hover {
							span {
								&:nth-child(4) {
									i { opacity: .5; }
								}
							}
						}

						span {
							&:nth-child(1) {
								width: 21px;
								padding: 3px;
								cursor: pointer;

								i { opacity: .5; }
							}

							&:nth-child(2) {
								background: #fff;
								width: 21px;
								margin: 0 2px;
								border-radius: 1px;
							}

							&:nth-child(3) {
								flex: 1;
								padding: 5px 0 0 4px;
								white-space: nowrap;
								overflow: hidden;
								text-overflow: ellipsis;
							}

							&:nth-child(4) {
								width: 21px;
								padding: 2px;
								cursor: pointer;

								i { opacity: 0; }
							}
						}
					}
				}
			}
		}
	}

	.progress {
		background: rgba(#000,.25);
		box-shadow: 0 0 0 1px rgba(#000,.25);
		display: inline-block;
		position: relative;
		top: 0;
		left: 43px;
		width: 89px;
		height: 5px;
		border-radius: 5px;
		vertical-align: top;
		--progress: 0;

		span {
			background: rgba(#fff,.75);
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			width: calc( calc( var( --progress ) * 1% ) - 1px );
			border-radius: inherit;
			pointer-events: none;
		}
	}
	
	// imports
	@import "inline-menubox";
	
	
	.knob {
		position: relative;
		display: inline-block;
		width: 34px;
		height: 34px;
		margin: 1px 3px 0;
		background: url(~/icons/knob.png) no-repeat;
		background-size: 100% auto;
		text-transform: uppercase;
		text-align: center;
		font-size: 10px;
		font-weight: 100;
		color: #69e;
		text-shadow: 0 0 0;
		filter: drop-shadow(0 1px 0 rgba(#fff,.75));

		&[data-label]:before {
			content: attr(data-label);
			position: absolute;
			bottom: -3px;
			left: 0;
			right: 0;
			z-index: 3;
			pointer-events: none;
		}

		&[data-title]:before {
			content: attr(data-title);
			position: absolute;
			bottom: -11px;
			left: -11px;
			right: -11px;
			z-index: 3;
			pointer-events: none;
		}

		&[data-value="0"], &[data-value="1"] { background-position: 0 0; } 
		&[data-value="2"], &[data-value="3"] { background-position: 0 -34px; }
		&[data-value="4"], &[data-value="5"] { background-position: 0 -68px; }
		&[data-value="6"], &[data-value="7"] { background-position: 0 -102px; }
		&[data-value="8"], &[data-value="9"] { background-position: 0 -136px; }
		&[data-value="10"], &[data-value="11"] { background-position: 0 -170px; }
		&[data-value="12"], &[data-value="13"] { background-position: 0 -204px; }
		&[data-value="14"], &[data-value="15"] { background-position: 0 -238px; }
		&[data-value="16"], &[data-value="17"] { background-position: 0 -272px; }
		&[data-value="18"], &[data-value="19"] { background-position: 0 -306px; }
		&[data-value="20"], &[data-value="21"] { background-position: 0 -340px; }
		&[data-value="22"], &[data-value="23"] { background-position: 0 -374px; }
		&[data-value="24"], &[data-value="25"] { background-position: 0 -408px; }
		&[data-value="26"], &[data-value="27"] { background-position: 0 -442px; }
		&[data-value="28"], &[data-value="29"] { background-position: 0 -476px; }
		&[data-value="30"], &[data-value="31"] { background-position: 0 -510px; }
		&[data-value="32"], &[data-value="33"] { background-position: 0 -544px; }
		&[data-value="34"], &[data-value="35"] { background-position: 0 -578px; }
		&[data-value="36"], &[data-value="37"] { background-position: 0 -612px; }
		&[data-value="38"], &[data-value="39"] { background-position: 0 -646px; }
		&[data-value="40"], &[data-value="41"] { background-position: 0 -680px; }
		&[data-value="42"], &[data-value="43"] { background-position: 0 -714px; }
		&[data-value="44"], &[data-value="45"] { background-position: 0 -748px; }
		&[data-value="46"], &[data-value="47"] { background-position: 0 -782px; }
		&[data-value="48"], &[data-value="49"] { background-position: 0 -816px; }
		&[data-value="50"], &[data-value="51"] { background-position: 0 -850px; }
		&[data-value="52"], &[data-value="53"] { background-position: 0 -884px; }
		&[data-value="54"], &[data-value="55"] { background-position: 0 -918px; }
		&[data-value="56"], &[data-value="57"] { background-position: 0 -952px; }
		&[data-value="58"], &[data-value="59"] { background-position: 0 -986px; }
		&[data-value="60"], &[data-value="61"] { background-position: 0 -1020px; }
		&[data-value="62"], &[data-value="63"] { background-position: 0 -1054px; }
		&[data-value="64"], &[data-value="65"] { background-position: 0 -1088px; }
		&[data-value="66"], &[data-value="67"] { background-position: 0 -1122px; }
		&[data-value="68"], &[data-value="69"] { background-position: 0 -1156px; }
		&[data-value="70"], &[data-value="71"] { background-position: 0 -1190px; }
		&[data-value="72"], &[data-value="73"] { background-position: 0 -1224px; }
		&[data-value="74"], &[data-value="75"] { background-position: 0 -1258px; }
		&[data-value="76"], &[data-value="77"] { background-position: 0 -1292px; }
		&[data-value="78"], &[data-value="79"] { background-position: 0 -1326px; }
		&[data-value="80"], &[data-value="81"] { background-position: 0 -1360px; }
		&[data-value="82"], &[data-value="83"] { background-position: 0 -1394px; }
		&[data-value="84"], &[data-value="85"] { background-position: 0 -1428px; }
		&[data-value="86"], &[data-value="87"] { background-position: 0 -1462px; }
		&[data-value="88"], &[data-value="89"] { background-position: 0 -1496px; }
		&[data-value="90"], &[data-value="91"] { background-position: 0 -1530px; }
		&[data-value="92"], &[data-value="93"] { background-position: 0 -1564px; }
		&[data-value="94"], &[data-value="95"] { background-position: 0 -1598px; }
		&[data-value="96"], &[data-value="97"] { background-position: 0 -1632px; }
		&[data-value="98"], &[data-value="99"] { background-position: 0 -1666px; }
		&[data-value="100"] { background-position: 0 -1700px; }
	}

	.pan-knob {
		position: relative;
		display: inline-block;
		width: 34px;
		height: 34px;
		margin: 1px 3px 0;
		background: url(~/icons/pan-knob.png) no-repeat;
		background-size: 100% auto;
		filter: drop-shadow(0 1px 0 rgba(#fff,.75));

		&:before {
			content: "";
			position: absolute;
			top: -3px;
			left: 14px;
			border-left: 3px solid transparent;
			border-right: 3px solid transparent;
			border-top: 5px solid #999;
		}

		&[data-value="-50"], &[data-value="-49"] { background-position: 0 0;  }
		&[data-value="-48"], &[data-value="-47"] { background-position: 0 -34px; }
		&[data-value="-46"], &[data-value="-45"] { background-position: 0 -68px; }
		&[data-value="-44"], &[data-value="-43"] { background-position: 0 -102px; }
		&[data-value="-42"], &[data-value="-41"] { background-position: 0 -136px; }
		&[data-value="-40"], &[data-value="-39"] { background-position: 0 -170px; }
		&[data-value="-38"], &[data-value="-37"] { background-position: 0 -204px; }
		&[data-value="-36"], &[data-value="-35"] { background-position: 0 -238px; }
		&[data-value="-34"], &[data-value="-33"] { background-position: 0 -272px; }
		&[data-value="-32"], &[data-value="-31"] { background-position: 0 -306px; }
		&[data-value="-30"], &[data-value="-29"] { background-position: 0 -340px; }
		&[data-value="-28"], &[data-value="-27"] { background-position: 0 -374px; }
		&[data-value="-26"], &[data-value="-25"] { background-position: 0 -408px; }
		&[data-value="-24"], &[data-value="-23"] { background-position: 0 -442px; }
		&[data-value="-22"], &[data-value="-21"] { background-position: 0 -476px; }
		&[data-value="-20"], &[data-value="-19"] { background-position: 0 -510px; }
		&[data-value="-18"], &[data-value="-17"] { background-position: 0 -544px; }
		&[data-value="-16"], &[data-value="-15"] { background-position: 0 -578px; }
		&[data-value="-14"], &[data-value="-13"] { background-position: 0 -612px; }
		&[data-value="-12"], &[data-value="-11"] { background-position: 0 -646px; }
		&[data-value="-10"], &[data-value="-9"] { background-position: 0 -680px; }
		&[data-value="-8"], &[data-value="-7"] { background-position: 0 -714px; }
		&[data-value="-6"], &[data-value="-5"] { background-position: 0 -748px; }
		&[data-value="-4"], &[data-value="-3"] { background-position: 0 -782px; }
		&[data-value="-2"], &[data-value="-1"] { background-position: 0 -816px; }
		&[data-value="0"] { background-position: 0 -850px; &:before { border-top-color: transparent; } }
		&[data-value="2"], &[data-value="1"] { background-position: 0 -884px; }
		&[data-value="4"], &[data-value="3"] { background-position: 0 -918px; }
		&[data-value="6"], &[data-value="5"] { background-position: 0 -952px; }
		&[data-value="8"], &[data-value="7"] { background-position: 0 -986px; }
		&[data-value="10"], &[data-value="9"] { background-position: 0 -1020px; }
		&[data-value="12"], &[data-value="11"] { background-position: 0 -1054px; }
		&[data-value="14"], &[data-value="13"] { background-position: 0 -1088px; }
		&[data-value="16"], &[data-value="15"] { background-position: 0 -1122px; }
		&[data-value="18"], &[data-value="17"] { background-position: 0 -1156px; }
		&[data-value="20"], &[data-value="19"] { background-position: 0 -1190px; }
		&[data-value="22"], &[data-value="21"] { background-position: 0 -1224px; }
		&[data-value="24"], &[data-value="23"] { background-position: 0 -1258px; }
		&[data-value="26"], &[data-value="25"] { background-position: 0 -1292px; }
		&[data-value="28"], &[data-value="27"] { background-position: 0 -1326px; }
		&[data-value="30"], &[data-value="29"] { background-position: 0 -1360px; }
		&[data-value="32"], &[data-value="31"] { background-position: 0 -1394px; }
		&[data-value="34"], &[data-value="33"] { background-position: 0 -1428px; }
		&[data-value="36"], &[data-value="35"] { background-position: 0 -1462px; }
		&[data-value="38"], &[data-value="37"] { background-position: 0 -1496px; }
		&[data-value="40"], &[data-value="39"] { background-position: 0 -1530px; }
		&[data-value="42"], &[data-value="41"] { background-position: 0 -1564px; }
		&[data-value="44"], &[data-value="43"] { background-position: 0 -1598px; }
		&[data-value="46"], &[data-value="45"] { background-position: 0 -1632px; }
		&[data-value="48"], &[data-value="47"] { background-position: 0 -1666px; }
		&[data-value="50"], &[data-value="49"] { background-position: 0 -1700px; }
	}
}



/* latin */
@font-face {
	font-family: "FiraGo";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(~/fonts/FiraGO-Regular.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

